<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.itda">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:name=".MyApplication"
        android:icon="@mipmap/ic_itda_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity android:name=".gamefolder.GameMain" />
        <activity android:name=".homefolder.HomePage" />
        <activity android:name=".boardfolder.RequestNewBoard" />
        <activity android:name=".homefolder.SettingPage" />
        <activity android:name=".boardfolder.BoardPage" />
        <activity android:name=".neologismfolder.SearchNeologism" />
        <activity android:name=".boardfolder.SearchBoard" />
        <activity android:name=".boardfolder.BoardDetail" />
        <activity android:name=".homefolder.SignUp" />
        <activity android:name=".boardfolder.HotpostPage" />
        <activity android:name=".neologismfolder.NeologismRequest" />
        <activity android:name=".boardfolder.MyPostPage" />
        <activity android:name=".boardfolder.SearchBoardDetail" />
        <activity android:name=".boardfolder.WritePage" />
        <activity android:name=".neologismfolder.Neologism_page" />
        <activity android:name=".familydiaryfolder.AddImagePage" />
        <activity android:name=".AlarmPage" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_family_restroom_black_18dp" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
    </application>
</manifest>